.container {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 970px;
    padding: 40px;
  }
}
