.container {
  display: flex;
  max-width: 100%;
  min-height: calc(100vh - 40px);
  margin: 0 auto;
  padding: 20px;
  /* background-color: #000c25; */
  /* opacity: 0.8; */
  align-items: center;
  justify-content: center;
  overflow: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 970px;
    padding: 40px;
  }
}
